---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import content from "./../content/doula/aboutme.json";
const images = import.meta.glob("../assets/doula/*", { eager: true }) as Record<
  string,
  { default: ImageMetadata }
>;
const mainImage = images[content.images[0]]?.default;
const galleryImages = content.images
  .slice(1)
  .map((img) => images[img]?.default);
---

<BaseLayout title={content.seo.title} description={content.seo.description}>
  <section
    class="max-w-6xl mx-auto justify-center flex flex-col md:flex-row gap-5 md:gap-10 lg:gap-16 px-5 pb-5 text-fg"
  >
    <div>
      <Image
        class="h-full w-full md:h-[550px] object-cover rounded-lg md:mb-5"
        alt="Sonnet Lamb Smiling"
        layout="constrained"
        src={mainImage}
        priority
      />
      <div class="hidden gap-5 md:grid grid-cols-2">
        {
          galleryImages.map((img) => (
            <Image
              class="h-full object-cover rounded-lg"
              layout="constrained"
              src={img}
              alt="Sonnet Lamb Posing"
            />
          ))
        }
      </div>
    </div>
    <div
      class="flex flex-col gap-3 md:gap-5 max-w-2xl text-left prose [&>h1]:text-center"
      data-html
      set:html={content.content}
    />
    <div class="md:hidden gap-2 grid grid-cols-2">
      {
        galleryImages.map((img) => (
          <Image
            class="h-full object-cover rounded-lg"
            layout="constrained"
            src={img}
            alt="Sonnet Lamb Posing"
          />
        ))
      }
    </div>
  </section>
</BaseLayout>
