---
import BaseLayout from "../layouts/BaseLayout.astro";
import DoulaForm from "../components/DoulaForm.astro";
import { Image } from "astro:assets";
import content from "../content/doula/contact.json";
const images = import.meta.glob("../assets/doula/*", { eager: true }) as Record<
  string,
  { default: ImageMetadata }
>;
const mainImage = images[content.image]?.default;
---

<BaseLayout
  title={content.seo.title}
  description={content.seo.description}
>
  <section
    class="w-full h-full flex flex-col md:flex-row max-w-6xl mx-auto px-5 pb-5 gap-5 md:gap-10 lg:gap-16"
  >
    <div class="flex flex-col gap-4 md:gap-10 md:w-1/2">
      <div class="w-full flex justify-center flex-col gap-2">
        <div class="grid gap-2 prose" set:html={content.content} />
      </div>
      <div class="gap-5 hidden md:grid">
        <Image
          class="h-80 object-cover rounded-lg"
          layout="constrained"
          src={mainImage}
          alt="Image by Sonnet Lamb"
        />
      </div>
    </div>
    <div class="w-full md:w-1/2">
      <DoulaForm />
    </div>
    <div class="gap-2 md:hidden grid">
      <Image
        class="h-full object-cover rounded-lg"
        layout="constrained"
        src={mainImage}
        alt="Image by Sonnet Lamb"
      />
    </div>
  </section>
</BaseLayout>
