---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import content from "../content/doula/services.json";
const images = import.meta.glob("../assets/doula/*", { eager: true }) as Record<
  string,
  { default: ImageMetadata }
>;
---

<BaseLayout
  title={`${content.seo.title}`}
  description={`${content.seo.description}`}
>
  <section
    class="max-w-6xl mx-auto px-5 flex flex-col gap-10 lg:gap-14 pb-5 text-fg"
  >
    {
      content.services.map((service) => (
        <div class="flex items-center flex-col md:flex-row gap-5 md:gap-10 lg:gap-16 w-full">
          <div class="w-full md:w-1/2">
            {service?.image && (
              <Image
                priority
                src={images[service?.image]?.default}
                alt="Sonnet Lamb"
                class="w-full rounded-lg h-96 md:h-[448px] lg:h-[600px] object-cover"
                layout="constrained"
              />
            )}
          </div>
          <div class="w-full md:w-1/2 flex text-left flex-col gap-4 max-w-md text-base md:text-lg">
            <h3 class="text-3xl md:text-4xl font-extralight">
              {service?.name}
            </h3>
            <div class="grid gap-2 md:gap-4">
              {service?.includes && service?.includes?.length > 0 && (
                <div class="grid gap-2">
                  <p>Includes:</p>
                  <ul class="list-disc list-inside grid gap-1">
                    {service?.includes.map((item) => (
                      <li class="list-none flex gap-2 items-center">
                        <div class="flex min-w-5 size-5 items-center justify-center rounded-full bg-accent text-sm text-white">
                          ✓
                        </div>
                        {item}
                      </li>
                    ))}
                  </ul>
                </div>
              )}
              <p>
                Cost:{" "}
                {service?.cost ? `$${service.cost}` : "Request for pricing"}
              </p>
              {service?.information && <p>{service.information}</p>}
            </div>
            <a
              class="transition-all duration-300 rounded-[50px] hover:bg-accent border hover:text-white border-accent px-5 py-2.5 w-full md:w-fit text-center"
              href="/contact"
            >
              Schedule an Interview
            </a>
          </div>
        </div>
      ))
    }
  </section>
</BaseLayout>
