---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import content from "../content/doula/services.json";
const images = import.meta.glob("../assets/doula/*", { eager: true }) as Record<
  string,
  { default: ImageMetadata }
>;
---

<BaseLayout
  title={`${content.seo.title}`}
  description={`${content.seo.description}`}
>
  <section
    class="max-w-6xl mx-auto px-5 flex flex-col md:flex-row pb-5 text-fg gap-5 md:gap-3 justify-center items-start"
  >
    {
      content?.services.map((service) => (
        <div class="flex items-center flex-col size-full bg-white rounded-xl overflow-hidden border-accent border">
          {service?.image && (
            <Image
              src={images[service?.image]?.default}
              alt="Sonnet Lamb"
              class="w-full object-cover border-b border-accent h-80 brightness-70"
              layout="constrained"
            />
          )}
          <div class="w-full flex text-left flex-col gap-2 p-3">
            <div class="grid gap-2">
              <h3 class="text-3xl/tight font-extralight text-pretty tracking-tight">
                {service?.name}
              </h3>
              <hr class="border-t border-accent" />
            </div>
            <div class="grid gap-2.5">
              {service?.packages?.length > 0 && (
                <div class="grid gap-2">
                  {service?.packages.map((item) => (
                    <div class="grid gap-1.5">
                      {item?.title && (
                        <p class="font-medium text-lg tracking-tight">{item.title}</p>
                      )}
                      {item?.includes?.length > 0 && (
                        <ul class="list-disc list-inside grid gap-1">
                          {item.includes.map((include) => (
                            <li class="list-none flex gap-2 items-baseline text-pretty text-base">
                              <div class="flex min-w-3.5 size-3.5 items-center justify-center text-sm rounded-full bg-accent text-white">
                                ✓
                              </div>
                              <span
                                data-html
                                set:html={include.replace("|", "<br/>")}
                              />
                            </li>
                          ))}
                        </ul>
                      )}
                      <p class="text-lg">
                        Cost: {item?.cost ? item.cost : "Request for pricing"}
                      </p>
                    </div>
                  ))}
                </div>
              )}
              {service?.information && (
                <p class="text-sm">{service.information}</p>
              )}
            </div>
            <a
              class="transition-colors duration-300 rounded-full hover:bg-accent border hover:text-white border-accent px-5 py-2.5 w-full text-center"
              href={service?.cta_url ?? "/contact"}
            >
              {service?.cta_text ?? "Schedule an Interview"}
            </a>
          </div>
        </div>
      ))
    }
  </section>
</BaseLayout>
